{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}
    
{% block left_sidebar %}
{% endblock left_sidebar %}

{% block content %}
<div class="flex text-2xl justify-center">
    <p class="font-sans ml-4 mt-2">Prueba0</p>
    <p class="font-serif ml-4 mt-2">Prueba1</p>
    <p class="font-mono ml-4 mt-2">Prueba2</p>
    <p class="font-thin ml-4 mt-2">Prueba3</p>
    <p class="font-bold ml-4 mt-2">Prueba4</p>
</div>
{% endblock content %}
    
{% block right_sidebar %}
<div class="flex justify-end">
    <a href="" class="border-solid w-1/12 text-center border-slate-300 rounded-md p-2 hover:bg-slate-300 hover:text-gray-900 duration-300 border-2 ml-4 font-bold ">Button</a>
</div>

{% endblock right_sidebar %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
{% endblock javascript %}